BOT_TOKEN=replace_with_token_from_botfather
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=replace_with_mysql_password
MYSQL_DATABASE=isell_store

# Numeric Telegram ID for the Store Administrator (Never use username for security)
ADMIN_ID=7695407294

# Default Payment Options
BINANCE_ID=898551245
USDT_BEP20_ADDRESS=0xa271f85cc7340aceec7d3f7711feae8925bd50fb
SUPPORT_USERNAME=ezrani
STORE_NAME=ISell Store
STORE_CURRENCY=USDT